/* Reset Styles */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

li {
  display: flex;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  appearance: none;
  border: none;
  background: transparent;
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}

/* End reset styles */

/* Variables */
:root {
  --color-primary: #575757;
  --color-dark: #272a31;
  --color-accent: #ec5242;
  --color-negative: #d3d3d3;
  --color-white: #fff;
  --ff-text: 'Lato', sans-serif;
  --ff-heading: 'Biryani', sans-serif;
}

/* End variables */

h1 {
  font-family: var(--ff-heading);
  font-weight: 900;
  font-size: 4em;
  line-height: 1.5;
}

section h2 {
  font-size: 1.8rem;
  text-align: center;
}

body {
  line-height: 1.5;
  box-sizing: border-box;
  font-family: var(--ff-text);
  color: var(--color-primary);
  font-size: 1em;
  display: flex;
  flex-direction: column;
}

body > * {
  display: flex;
}

body > * > * {
  width: 94%;
  max-width: 70rem;
  margin: 0 auto;
}

.menu-bar {
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 5rem;
}

#menu-links {
  display: flex;
  position: fixed;
  inset: 5rem 0;
  background-color: rgba(194, 58, 43, 0.7);
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  flex-direction: column;
  align-items: center;
}

#logo {
  display: none;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0.6rem;
}

.info h3 {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color-dark);
}

.info h4 {
  font-size: 0.9rem;
  font-style: italic;
  color: var(--color-accent);
}

.info hr {
  margin: 0.5rem 0;
}

.info p {
  font-size: 0.95rem;
  justify-self: flex-end;
}

#intro {
  flex-direction: column;
  margin: 2rem 0;
  background-image: url(../images/intro-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#intro h2 {
  text-align: left;
  color: var(--color-accent);
}

#intro h3 {
  font-size: 2rem;
  font-weight: 900;
  font-family: var(--ff-heading);
}

#intro p {
  font-size: 1.3rem;
}

.phrase {
  background-color: var(--color-white);
  padding: 1.5rem;
  max-width: 38rem;
  border-color: var(--color-white);
  border-width: 3px;
  border-style: solid;
  margin: 1.5rem 0;
}

#hamburger {
  font-size: 1.2rem;
  margin-left: 1.2rem;
}

.gray-bar {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 1rem;
  display: none;
}

.gray-bar > ul {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
}

.partner-logos > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
  align-self: center;
}

.partner-logos li {
  flex-basis: 12rem;
}

.partner-logos img {
  margin: 0 auto;
}

.partner-logos i {
  font-size: 10rem;
}

#program {
  background-color: var(--color-dark);
  color: var(--color-white);
  background-image: url(../images/texture.png);
  background-size: 2rem 2rem;
  background-repeat: repeat;
}

hr {
  margin: 1rem auto 3rem;
  width: 2rem;
  background-color: var(--color-accent);
  height: 1px;
  border: none;
}

#program ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#program li {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  gap: 0.8rem;
  justify-content: flex-start;
}

#program li:hover {
  border-style: solid;
  border-color: var(--color-white);
  border-width: 1px;
}

#program i {
  font-size: 3rem;
}

#program h3 {
  color: var(--color-accent);
  font-size: 1.4rem;
  flex-grow: 0;
  flex-basis: 30%;
}

#program-link {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

#program-link a {
  text-decoration: underline;
}

#featured li {
  display: flex;
  gap: 1.2rem;
}

.wrapper {
  margin-top: 3em;
  margin-bottom: 3em;
}

#partners {
  background-color: var(--color-dark);
  color: var(--color-primary);
}

#copyright > .wrapper {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

#about {
  text-align: center;
  background-image: url(../images/about-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#about h2,
#about h1 {
  color: var(--color-accent);
}

#about p {
  margin-bottom: 1.2rem;
}

#about > .wrapper {
  background-color: var(--color-white);
  padding: 0 5%;
}

#about-info p {
  text-align: center;
  margin-bottom: 1.2rem;
}

#about-info a {
  margin: 1.2rem auto;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: underline;
}

#past-events > .wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

#events {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

#events li {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  text-align: center;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  background-color: rgba(236, 82, 66, 0.8);
  color: var(--color-white);
  inset: 0 0;
  width: 100%;
  transform: scaleY(1);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#events li:hover > .overlay {
  transform: scaleY(0);
}

.footer-logo {
  flex: 2;
}

.footer-logo > img {
  width: 90%;
  max-width: 16rem;
  height: auto;
}

.cp-info {
  flex: 3;
}

.clip-letters {
  color: var(--color-white);
  -webkit-text-fill-color: rgba(194, 58, 43, 0.6);
  background-image: url(../images/heading-background.jpeg);
  -webkit-background-clip: text;
  background-clip: text; /* stylelint-disable-line - Valid value for Safari Browser */
  background-position: top left;
  background-size: 100%;
  background-repeat: no-repeat;
  animation-name: kenburns;
  animation-timing-function: ease-in-out;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.photo {
  width: 8rem;
  min-width: 8rem;
  background-color: var(--color-white);
  padding-top: 0.6rem;
  padding-left: 0.6rem;
  padding-right: 0;
  padding-bottom: 0;
}

.pattern {
  background-image: repeating-linear-gradient(45deg, #555 25%, transparent 25%, transparent 75%, #555 75%, #555), repeating-linear-gradient(45deg, #555 25%, #fff 25%, #fff 75%, #555 75%, #555);
  background-position: top left, 4px 4px;
  background-size: 8px 8px;
  z-index: 0;
  width: 4rem;
  height: 4rem;
  min-width: 4rem;
  min-height: 4rem;
}

.photo img {
  position: relative;
  inset: -3.4rem 0.6rem;
  z-index: 100;
}

#img-white {
  display: none;
}

#img-dark {
  display: block;
}

#see-more {
  display: none;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-style: solid;
  border-color: var(--color-primary);
  border-width: 1px;
  transform: scale(1);
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

#see-more:hover {
  transform: scale(1.05);
}

#see-more i {
  color: var(--color-accent);
  font-size: 110%;
  margin-left: 0.8rem;
}

@media screen and (max-width: 768px) {
  #menu-links.active {
    transform: translateX(0);
    padding-top: 3rem;
    color: var(--color-white);
    font-size: 2rem;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    line-height: 2;
  }

  #program-link a {
    text-decoration: none;
    background-color: var(--color-accent);
    padding: 1rem 2rem;
  }

  #see-more {
    display: inherit;
  }

  #speakers .hidden-speaker {
    display: none;
  }
}

@keyframes kenburns {
  from {
    background-position: bottom left;
  }

  25% {
    background-position: bottom right;
    background-size: 110%;
  }

  50% {
    background-position: bottom left;
    background-size: 115%;
  }

  75% {
    background-position: bottom right;
    background-size: 110%;
  }

  to {
    background-position: bottom left;
    background-size: 100%;
  }
}
